#alpha{
    height:100px;
    width:100px;
    /* background-color: rgba(255,0,0,0.5); */
    background-color: rgba(255,0,0,0.2);
    /* background-color: rgba(255,0,0,1); */
    margin: auto;
    /* transition-delay:2s;
    transition:1s;
    transition-timing-function: ease-in-out; */
    margin-top: 10px;
    transition: margin-top 2s ease-in-out 0.2s;
}
#alpha:hover{
    margin-top:400px;
    background-color: black;

}
#opacity{
    /* opacity:0.5;*/
     opacity:0.6;
     /* opacity:1; */
}
div{
    height:20px;
    width:100px;
    border:2px solid black;
    margin:5px;
    background-color:darkmagenta;

}
div:nth-of-type(2n){
    background-color: aquamarine;
}
div:nth-of-type(3n){
    background-color:blanchedalmond;
}
#one{
    transform: rotate(45deg);
}
#four{
    transform: rotate(90deg);
}
#five{
    transform: rotate(180deg);
}
#three{
    transform: rotate(-45deg);
}

