/* h1{
    color:rgb(255,0,0);
    text-decoration:pink wavy line-through;;
}
h2{
    color:orange;
     text-decoration:blue dotted underline;
}
p{
    color:darkorange;
    background-color:black;
     text-decoration:pink double overline;
     line-height:2.5;
     letter-spacing:2px;
     font-family:arial;
}
button{
    background-color:blue;
    color:white;
}
h3{
   font-family: League spartan;
   color:#ffa511;
   text-align: center;
   font-size:55px;
   font-weight: 900;
   letter-spacing: 2px;
   line-height: 1.5x;
   text-decoration: teal double underline;
   text-transform:uppercase;

} */
 body{
    font-family:Georgia;

 }
 button{
    background-color:white;
    color: blueviolet;
 }
 a{
    color:green;
    text-decoration: none;
 }
 p{
    /* color: #966919; */
    color:red;
    text-align:center;
    line-height:30px;
 }
 h1{
    text-align:center;
 }
 h3{
    text-align:center;
    color:black;
 }
 h4{
    text-align:center;
 }
