/* div{
    height:200px;
    width:500px;
    background-color:pink;
    /* border-width:5px;
    border-color:black;
    border-style:solid; */
 /*} 
 /* div{
    border:5px solid black;
 }
  div{
    border-left: 5px solid mediumslateblue;
    border-right-style: dashed;
    border-top-color: orange;
    border-bottom-width:8px;
    margin-bottom:20px;
  }
  button{
    border-radius:10px;
    border:4px solid black;
    padding-left: 25px;
    padding-right:25px;
  } */
  .traffic{
    height:200px;
    width:70px;
    border:2px solid black;
    margin-top:5px;

  }
 
  .inner{
    height:40px;
    width:40px;
    border:1px solid black;
    border-radius:50%;
    padding:5px;
    margin:10px;
  }
  #red{
    background-color: red;
  }
  #yellow{
    background-color: yellow;
  }
  #green{
    background-color: green ;
  }
  .outer{
    height: 300px;
    width:300px;
    background-color: pink;
    margin:3px solid black;
  }
  .inside{
    height: 100px;
    width:50%;
    background-color: blueviolet;
    margin:3px solid black;

  }